@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a href="/css/site.css" target="_blank">site.css</a></li>
    <li><a href="/lib/bootstrap/dist/css/bootstrap-grid.min.css" target="_blank">bootstrap.css</a></li>
</ul>